.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
  background-color: var(--header-background);
  height: 70px;
  padding: 20px;
  color: white;
}

.footer {
    background-color: var(--footer-background);
    height: 70px;
    padding: 20px;
    color: white;
}

.content {
    width: 30%;
    margin: auto;
}


